<table class="table">
  <tr>
  	<td>Votes</td>
  	<td>Post</td>
    <td>Description</td>
    <td></td>
  </tr>
  <% @items.each do |item| %>
    <tr>
    	<td class = "col-md-1"><br>
        <button type = "button", class = "btn btn-default"><%= link_to "", items_upvote_path(item), style: "dislay: none;", class: "glyphicon glyphicon-plus" %></button>
        <br><div class = "votes" ><%= item.votes %></div><br>
        <button type = "button", class = "btn btn-default"><%= link_to "", items_downvote_path(item), style: "dislay: none;", class: "glyphicon glyphicon-minus" %></button>
      </td>
      <td class = "col-md-1"><br><img src="<%= item.link %>" height = 100px><br><br></td>
    	<td class = "col-md-8"><h4><%= link_to item.title, items_show_path(item)%></h4><%= item.description%><br><br>Contributed by: <%= item.author %><br><br></td>
    	<td class = "col-md-1"><%= link_to "Edit", items_edit_path(item), class:"btn btn-default" %></td>
    </tr>
  <% end %>
</table>
