<div class = "col-md-1">
  <br><button type = "button", class = "btn btn-default"><%= link_to "", items_upvote_path(@item), style: "dislay: none;", class: "glyphicon glyphicon-plus" %></button>
  <div class = "votes" ><%= @item.votes %></div>
  <button type = "button", class = "btn btn-default"><%= link_to "", items_downvote_path(@item), style: "dislay: none;", class: "glyphicon glyphicon-minus" %></button>
</div>
<div class = "col-md-11">
  <h4><%= @item.title %></h4>
  <div class = "col-md-4">
    <br><img src="<%= @item.link %>" height = 200px>
    <br>
    <br>
    <%= link_to "Edit", items_edit_path(@item), class:"btn btn-default" %> &nbsp
    <%= link_to "DELETE", items_destroy_path(@item), class: "btn btn-danger", onclick: "myFunction(event)"%>

  </div>
  <div class = "col-md-7">
    <br>Description: <%= @item.description %>
    <br>
    <br>Author: <%= @item.author %>
  </div>
</div>
