<!DOCTYPE html>
<html>
<head>
  <title>Addit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class = "container">
    <h1><%= link_to "ADDIT", root_path %></h1>
    <br>
    <div class = "col-md-10">




    <%= yield %>
    </div>
    <div class = "col-md-2">
      <%= link_to "Create New Post", items_new_path %><br>
      <%= link_to "View All", items_path %>
    </div>

  </div>

</body>
</html>
